In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
import os
path = os.getcwd() + '/data/ex1data2.txt'
data2 = pd.read_csv(path, header=None, names=['Size', 'Bedrooms', 'Price'])
data2.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [13]:
data2 = (data2 - data2.mean()) / data2.std()
data2.head()

   Ones      Size  Bedrooms     Price
0   NaN  0.130010 -0.223675  0.475747
1   NaN -0.504190 -0.223675 -0.084074
2   NaN  0.502476 -0.223675  0.228626
3   NaN -0.735723 -1.537767 -0.867025
4   NaN  1.257476  1.090417  1.595389

In [11]:
# add ones column
data2.insert(0, 'Ones', 1)

ValueError: cannot insert Ones, already exists

In [14]:
# set X (training data) and y (target variable)
cols = data2.shape[1]
X2 = data2.iloc[:,0:cols-1]
X2.head()
y2 = data2.iloc[:,cols-1:cols]
y2.head()
# convert to matrices and initialize theta
X2 = np.matrix(X2.values)
print(X2)
y2 = np.matrix(y2.values)
print(y2)
theta2 = np.matrix(np.array([0,0,0]))

[[            nan  1.30009869e-01 -2.23675187e-01]
 [            nan -5.04189838e-01 -2.23675187e-01]
 [            nan  5.02476364e-01 -2.23675187e-01]
 [            nan -7.35723065e-01 -1.53776691e+00]
 [            nan  1.25747602e+00  1.09041654e+00]
 [            nan -1.97317285e-02  1.09041654e+00]
 [            nan -5.87239800e-01 -2.23675187e-01]
 [            nan -7.21881404e-01 -2.23675187e-01]
 [            nan -7.81023044e-01 -2.23675187e-01]
 [            nan -6.37573110e-01 -2.23675187e-01]
 [            nan -7.63567023e-02  1.09041654e+00]
 [            nan -8.56737193e-04 -2.23675187e-01]
 [            nan -1.39273340e-01 -2.23675187e-01]
 [            nan  3.11729182e+00  2.40450826e+00]
 [            nan -9.21956312e-01 -2.23675187e-01]
 [            nan  3.76643089e-01  1.09041654e+00]
 [            nan -8.56523009e-01 -1.53776691e+00]
 [            nan -9.62222960e-01 -2.23675187e-01]
 [            nan  7.65467909e-01  1.09041654e+00]
 [            nan  1.29648433e+00  1.09041654e+00]
 [            nan -2.94048269e-01 -2.23675187e-01]
 [            nan -1.41790005e-01 -1.53776691e+00]
 [            nan -4.99156507e-01 -2.23675187e-01]
 [            nan -4.86733818e-02  1.09041654e+00]
 [            nan  2.37739217e+00 -2.23675187e-01]
 [            nan -1.13335621e+00 -2.23675187e-01]
 [            nan -6.82873089e-01 -2.23675187e-01]
 [            nan  6.61026291e-01 -2.23675187e-01]
 [            nan  2.50809813e-01 -2.23675187e-01]
 [            nan  8.00701226e-01 -2.23675187e-01]
 [            nan -2.03448310e-01 -1.53776691e+00]
 [            nan -1.25918949e+00 -2.85185864e+00]
 [            nan  4.94765729e-02  1.09041654e+00]
 [            nan  1.42986760e+00 -2.23675187e-01]
 [            nan -2.38681627e-01  1.09041654e+00]
 [            nan -7.09298077e-01 -2.23675187e-01]
 [            nan -9.58447962e-01 -2.23675187e-01]
 [            nan  1.65243186e-01  1.09041654e+00]
 [            nan  2.78635031e+00  1.09041654e+00]
 [            nan  2.02993169e-01  1.09041654e+00]
 [            nan -4.23656542e-01 -1.53776691e+00]
 [            nan  2.98626458e-01 -2.23675187e-01]
 [            nan  7.12617934e-01  1.09041654e+00]
 [            nan -1.00752294e+00 -2.23675187e-01]
 [            nan -1.44542274e+00 -1.53776691e+00]
 [            nan -1.87089985e-01  1.09041654e+00]
 [            nan -1.00374794e+00 -2.23675187e-01]]
[[ 0.47574687]
 [-0.08407444]
 [ 0.22862575]
 [-0.86702453]
 [ 1.59538948]
 [-0.32399786]
 [-0.20403615]
 [-1.13094828]
 [-1.02697347]
 [-0.78305133]
 [-0.80305294]
 [ 0.05268191]
 [-0.08328269]
 [ 2.87498104]
 [-0.64389575]
 [ 0.87561923]
 [-0.32399786]
 [-1.12374258]
 [ 1.27627534]
 [ 2.06803861]
 [-0.69987788]
 [-0.68308324]
 [-0.77985235]
 [-0.64389575]
 [ 1.86730269]
 [-0.72387022]
 [ 0.99238196]
 [ 1.02837047]
 [ 1.07635515]
 [-0.32399786]
 [ 0.0758745 ]
 [-1.363666  ]
 [-0.20403615]
 [ 1.91528737]
 [-0.43596212]
 [-0.72387022]
 [-0.88381916]
 [ 0.03668701]
 [ 1.66816625]
 [-0.42716493]
 [ 0.22462702]
 [-0.08407444]
 [-0.21123385]
 [-0.33119556]
 [-1.28369153]
 [-0.32399786]
 [-0.80704367]]

In [15]:
def computeCost(X, y, theta):
    inner = np.power(((X * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(X))

In [16]:
def gradientDescent(X, y, theta, alpha, iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    
    for i in range(iters):
        error = (X * theta.T) - y
        
        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            temp[0,j] = theta[0,j] - ((alpha / len(X)) * np.sum(term))
            
        theta = temp
        cost[i] = computeCost(X, y, theta)
        
    return theta, cost

In [18]:
alpha = 0.01
iters = 1000

In [19]:
# perform linear regression on the data set
g2, cost2 = gradientDescent(X2, y2, theta2, alpha, iters)

# get the cost (error) of the model
computeCost(X2, y2, g2)

nan